@charset "utf-8";
/* CSS Document */
.smalllink {
	font-size: xx-small;
	font-weight: bold;
}


.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto; 
}

td{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: small;
}


heading {
position: fixed;
  top : 0px;
  width: 800px;
  height : 105px;
  padding: 0px;
  margin: 0 auto;
}

nav {
  position: fixed;
  top : 105px;
  width: 800px;
  height : 25px;
  padding: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-align: left;
  margin: 0 auto;
  background-color: #85B64A;
}
main {
  /* position is static by default */
  position:relative;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 50px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: small;

}

footer {
  position: fixed;
  bottom: 0;
  height: 20px;
  background-color: #85B64A;
  width: 800px;
  font-size: x-small;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-align: center;
}

.redwarning {
	color: #FF0000;
	font-weight: bold;
	font-style: italic;
}
